<Page>
  <StackLayout margin='10' marginTop="130">
    <GridLayout class="container" height='50' >
    <TextField #old hint="Old Password" style="width: 100%;border-bottom-color: transparent;text-align: center;"></TextField>
    </GridLayout>
    <GridLayout class="container" height='50' >
      <TextField #new hint="New Password" style="border-bottom-color: transparent;text-align: center;"></TextField>
      </GridLayout>
      <GridLayout class="container" height='50' >
        <TextField #retype hint="Reype Password" style="border-bottom-color: transparent;text-align: center;"></TextField>
        </GridLayout>
        <button text="Save" (tap)="onSave()" class="saveTap"></button>
        <label text="Forget Password" (tap)="forPass()" style="text-align: right;margin: 5;font-size: 13;"></label>
  </StackLayout>
  </Page>
