<!-- <Page>
<StackLayout >
  <StackLayout height="90%">
    <CardView elevation='2' margin='5' >
      <StackLayout>
        <CardView>
          <label [text]='ordermainDetail[0].timeSlot' class="order-heading"></label>
        </CardView>
        <GridLayout rows="*,*" columns="*,*" height="52" marginLeft='10' style="vertical-align: middle;">
          <label row="0" col="0" [text]='ordermainDetail[0].orderNo' style="color: skyblue;font-size: 15"></label>
          <label row="0" col="1" [text]="'Assign 20 min ago'" color="gray"></label>
          <GridLayout row="1" col="0">
            <label [text]='ordermainDetail[0].items'></label>
          </GridLayout>
          <GridLayout row="2" col="1">
            <label [text]='ordermainDetail[0].totalRup'></label>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </CardView>
    <CardView elevation='2' margin='5'>
      <StackLayout margin='5'>
        <label text="Message from Sender" style="text-align: center;vertical-align: middle;font-size: 15;white-space: pre-wrap;"></label>
        <label textWrap='true' [text]='ordermainDetail[0].senderMeassge'></label>
      </StackLayout>
    </CardView> -->
    <!-- <CardView elevation='2' margin='5'>
      <StackLayout margin='5'>
        <label text="Occasion 'Happy BirthDay'" style="text-align: center;font-size: 15;vertical-align: middle;"></label>
        <label textWrap='true' text="Template :- sdfdfdfmlkafmakfaknfjkaf alsknfa dfkndf  asf laj sfldnfkasfasfasd f" style="font-size: 14;white-space: pre-wrap;"></label>
      </StackLayout>
    </CardView> -->
    <!-- <CardView elevation='2' margin='5' width="80%">
    <StackLayout>
      <label text="These item are GiftWrapeed" style="text-align: center;background-color: pink;"></label>
    </StackLayout>
  </CardView> -->

    <!-- <ListView [items]="orderItemDetails">
      <ng-template let-i="index" let-item="item">

        <CardView  elevatoin='2' margin='5'>
          <StackLayout>
            <GridLayout columns="*,2*,*" height="auto" style="text-align: center;">
              <Image col="0" [src]="itemIcon" (tap)="activeCaro()"></Image>
              <GridLayout col="1" rows="*,*">
                <label row="0" [text]="item.itemName" style="font-size: 15;"></label>
                <label row="1" [text]="'#'+item.itemCode" style="text-align: left;margin-left: 5;"></label>
                <label row="1" text="qty 2"></label>
              </GridLayout>

              <Switch col="2" color="#36003C"  backgroundColor="green" offBackgroundColor="red">
              </Switch> -->

              <!-- <label col="2" [text]="item.earning"></label> -->
            <!-- </GridLayout>
            <FlexboxLayout flexDirection="row">
              <StackLayout [height]="chkHeight(i)">
                <ListView [items]="item.data">
                  <ng-template let-i="index" let-z="item">
                    <StackLayout height="100">
                      <GridLayout columns="*,*" height="auto">
                        <label row="0" col="0" [text]="z.title" height="25"></label>
                        <label row="0" col="1" [text]="z.subTitle"></label>
                      </GridLayout>
                    </StackLayout>
                  </ng-template>
                </ListView>
              </StackLayout>
            </FlexboxLayout>
          </StackLayout>
        </CardView>
      </ng-template>
    </ListView>
    <StackLayout>
    </StackLayout> -->


  <!-- </StackLayout>
  <button text="Process" (tap)="OnProcess()" style="background-color:#BF006A;color: white;"></button>
</StackLayout>
<CardView  *ngIf="caroActive">
  <StackLaout> -->
    <!-- <GridLayout [carousel]="images[0].srcImage" carouselLabelOverlay="true" carouselSpeed="2000"></GridLayout> -->

    <!-- <Image [src]="itemIcon"></Image> -->
  <!-- </StackLaout>
</CardView>
</Page> -->
